body, html {
    height: var(--viewport-height);
}

@keyframes infiniteRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.infinite-rotate {
    animation: infiniteRotate 1500ms linear infinite;
}
#start-coworker-csv-template {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
#start-coworker-csv-template:hover {
    text-decoration: underline;
}
.task-list-body-cell {
    cursor: pointer;
}
.tinymce-mention-avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-right: 8px !important;
}
.highlight {
    font-weight: bold;
    color: #90caf9;
}
#qwerty {
    margin-top: 50px;
    border: 1px solid white;
    max-height: 100px;
    overflow: scroll;
}
#qwerty > p {
    margin: 0;
}
#chat-input {
    max-height: 113px;
    margin: 5px 0px;
    padding: 0px 0.25rem;
    word-break: break-word;
    overflow: scroll;
}
#chat-input * {
    font-size: 1rem;
}
#chat-input:focus-visible {
    outline: none;
}
#chat-input > :first-child {
    margin-top: 0px;
}
#chat-input > :last-child {
    margin-bottom: 0px;
}
.tox .tox-editor-header {
    z-index: 2 !important;
}
.tox.tox-tinymce-inline .tox-editor-container {
    display: none;
}
.body-dark .tox .tox-pop.tox-pop--align-left::before {
    border-color: #fff transparent transparent transparent;
}
.body-dark .tox .tox-pop.tox-pop--bottom::after {
    border-color: #000 transparent transparent transparent;
}
.body-dark .tox .tox-pop__dialog {
    background-color: #000;
}
.body-dark .tox .tox-pop__dialog .tox-tbtn:hover, .body-dark .tox .tox-pop__dialog .tox-tbtn:active, .body-dark .tox .tox-pop__dialog .tox-tbtn:focus {
    background-color: #1565c0;
}
.body-dark .tox .tox-pop__dialog .tox-tbtn--enabled {
    background-color: #1565c0;
}
.body-dark .tox.tox-tinymce-inline .tox-editor-header {
    border: 2px solid #616161;
}
.body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary {
    background-color: #000;
}
.body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn svg {
    fill: #fff;
}
.body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn:hover, .body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn:active, .body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn:focus {
    background-color: #1565c0;
}
.body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn:hover svg, .body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn:active svg, .body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn:focus svg {
    fill: #fff;
}
.body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn--enabled {
    background-color: #1565c0;
}
.body-dark .tox.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary .tox-tbtn--enabled svg {
    fill: #fff;
}
.body-dark .tox .tox-menu {
    background-color: #000;
}
.body-dark .tox .tox-menu .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
    background-color: #1565c0;
    color: #fff;
}
.body-dark .tox .tox-menu .tox-collection__item-accessory {
    color: #fff;
}
.body-dark .tox .tox-dialog-wrap .tox-dialog-wrap__backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}
.body-dark .tox .tox-dialog-wrap .tox-dialog {
    background-color: #000;
    border-width: 1px;
    border-color: #9e9e9e;
}
.body-dark .tox .tox-dialog-wrap .tox-dialog .tox-dialog__header, .body-dark .tox .tox-dialog-wrap .tox-dialog .tox-dialog__footer, .body-dark .tox .tox-dialog-wrap .tox-dialog .tox-textfield, .body-dark .tox .tox-dialog-wrap .tox-dialog .tox-listbox--select {
    background-color: #000;
    color: #fff;
}
.body-dark .tox .tox-dialog-wrap .tox-dialog .tox-label, .body-dark .tox .tox-dialog-wrap .tox-dialog .tox-dialog__body-nav-item {
    color: #fff;
}
.body-dark .tox .tox-dialog-wrap .tox-dialog .tox-dialog__body-nav-item--active {
    color: #90caf9;
    border-bottom: 2px solid #90caf9;
    font-weight: bold;
}
.body-dark .tox .tox-dialog-wrap .tox-dialog .tox-listbox__select-chevron > svg {
    fill: #fff;
}
.body-dark .tox .tox-dialog-wrap .tox-dialog .tox-textarea {
    background-color: #000;
    color: #fff;
}
.body-dark .tox .tox-dialog-wrap .tox-dialog .tox-collection__item--active {
    background-color: #1565c0;
}
.body-dark .tox .tox-collection__item, .body-dark .tox .tox-collection--list .tox-collection__item--enabled, .body-dark .tox .tox-collection--list .tox-collection__item--active {
    background-color: #000;
    color: #fff;
}
.body-dark .tox .tox-button--secondary {
    background-color: #000;
    color: #9e9e9e;
    border-color: #9e9e9e;
}
.body-dark .tox .tox-button--secondary:hover:not(:disabled) {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}
.body-dark .tox .tox-icon > svg {
    fill: #fff !important;
}
.body-dark #chat-input a {
    color: #fff;
}
.body-dark #chat-input a[data-mce-selected="inline-boundary"] {
    background-color: #1565c0;
}
  